.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
    background-color: rgb(245, 245, 245);
    margin: 0 auto; /* Centre le contenu horizontalement */
    max-width: 1400px; /* Limite la largeur à 1200 pixels */
}
