.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  color: var(--first-color);
  font-size: var(--big-font-size);
}
