.destination-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .destination-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .destination-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .destination-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .destination-info div {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .destination-info h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .destination-info p,
  .destination-info ul {
    color: #666;
  }
  
  .destination-info a {
    display: block;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .destination-info a:hover {
    background-color: #555;
  }
  