.header {
    display: flex;
    justify-content: space-between; /* Space between title and menu */
    align-items: center;
    padding: 1rem;

 background-color: var(--first-color);
  
    height: 80px;
     position: fixed;  /*  Rendre le header fixe */
    top: 0; /* Position en haut */
    left: 0; /* Position à gauche */
    width: 100%; /* Largeur complète */
    z-index: 1000; /* Assurer que le header reste au-dessus des autres éléments */
  }
  
  .title {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
  }
  
 
  

  .h1 {
    font-size: 22px; /* Définissez la taille de police souhaitée */
   color: black;
   font-weight: bold;
}
  
  
  
  .navContainer {
    flex: 1;
    display: flex;
    justify-content: center; /* Centrer les éléments horizontalement */
  }
  