.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 2rem; /* Augmentation de l'espace entre les éléments */

    gap: 1rem;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-right: 1rem; 
}

.nav a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.3s ease; 

    font-size: 1.8rem; /* Augmentation de la taille du texte */
}

.nav a:hover {
    color: #a27c30;
    transform: scale(1.4); /* Augmente légèrement la taille au survol */

}

.nav a:hover {
    color: #a27c30; 
}
.contact{
    border-radius: 15px;
    border: solid;
    padding: 5px;
    background-color: bisque;
    color: black;
    margin-right: -500px;
    
}
.contact a{
    padding-bottom: 50px;
    color: black;
}
.nav{
    margin-left: px;
}
